
<footer>
    <div class="container text-center">
        <p>Copyright © Mike Russell and unboxapi.com 2015</p>
    </div>
</footer>

<script type="text/javascript" src="{{ "js/vendor/jquery/jquery.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "js/vendor/bootstrap/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "js/vendor/jquery/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.transform/0.1/jquery.transform2d.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.transform/0.1/jquery.transform3d.js"></script>
<script type="text/javascript" src="{{ "js/grayscale.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "js/unbox.js" | prepend: site.baseurl }}"></script>
