<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll white" href="#page-top">
                <span class="">
    	           <img class="nav-icon" src="imgs/logo_light_small.png" alt="">
               </span>
                <span class="nav-brand secondary">
                    UN<span class="primary">BOX</span> <span class="light">API</span>
                </span>
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse black">
            <ul class="nav navbar-nav">
                <li class="hidden active">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#product">Product</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#community">Community</a>
                </li>
            </ul>
        </div>
    </div>
</nav>