body,html{
    background-color: #cccccc;
    background-image: url("whitey.png");
    background-repeat: repeat;
    background-position:right top;
    height:100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-inverse{
    background-color: #333333;
    border-color: #2F2F2F;
}
#drawer{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #cccccc;
    background-image: url("whitey.png");
    background-repeat: repeat;
    background-position:right top;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    z-index: 1050;
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    transition: height 1s ease;
    height: 0px;
}
.drawer-open{
    height: 90%;
    box-shadow: 4px 6px 4px 2px #444444;
    -webkit-box-shadow: 4px 6px 4px 2px #444444;
    -moz-box-shadow: 4px 6px 4px 2px #444444;
}
.drawer-close-btn{
    width: 50px;
    height: 25px;
    position: absolute;
    bottom: -25px;
    margin-left: auto;
    margin-right: auto;
}
#notices{
    position: fixed;
    display: block;
    top: 60px;
    text-align: center;
    z-index: 2000;
    height: 0;
    width: 100%;
}
#panel1 {
    z-index: 750;
}
#panel2 {
    z-index: 650;
}
#panel3 {
    z-index: 550;
}
#main {
    z-index: 450;
    padding-left: 15px;
    padding-right: 10px;

    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s;
}
.un-color1 {
    background-color: #650E06;
}
.un-color2{
    background-color: #333333;
}
.un-color3{
    background-color: #888888;
}
.un-panel{
    display: block;
    position: relative;
    height: 100%;
    float: left;
    width: 25%;
    padding-top: 65px;
    padding-bottom: 15px;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s ease;
}
.un-panel-content{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 30px;
    opacity: 1.4;
    overflow-y: scroll;
}
.un-panel-shadow{
    box-shadow: 4px 6px 4px 2px #444444;
    -webkit-box-shadow: 4px 6px 4px 2px #444444;
    -moz-box-shadow: 4px 6px 4px 2px #444444;
}
.un-panel-toggle-shadow{
    box-shadow: 2px 3px 2px 1px #444444;
    -webkit-box-shadow: 2px 3px 2px 1px #444444;
    -moz-box-shadow: 2px 3px 2px 1px #444444;
}
.opaque{
    opacity: .65;
}
#panel1_toggle{
    top: 55px;
}
#panel2_toggle{
    top: 110px;
}
#panel3_toggle{
    top: 165px;
}
.un-panel-toggle{
    position: absolute;
    display: block;
    height: 50px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    padding-top: 4px;
    color: #FFFFFF;
    z-index: 800;
}
.un-panel-toggle:hover{
    color: #AAAAAA;
}
.un-close-panel{
    right: 0px;
}
.un-open-panel{
    right: -25px;
    opacity: 1;
}
.un-panel-closed {
    width: 0px !important;
    padding: 0px !important;
}
.ep-logo{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;

    background-color: black;
    text-align: center;
}
.ep-logo-text{
    position: absolute;
    display: block;
    bottom: -5px;
    right: -5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    color: #333333;
}
.circle{
    border-radius: 100%;
}
.entry-point-overview, .parameter-setup{
    position: relative;
    display: block;
    overflow-y: auto;
    height: 93%;
}
.ep-actions{
    position: relative;
    display: block;
    font-size: 12pt;
    height: 7%;
}
.ep-main-detail{
    text-align: center;
    font-size: 13pt;
}
.ep-main-detail table{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: none;
    margin-bottom: 0px !important;
}
.entry-point-detail{
    position: relative;
    display: block;
    height: 93%;
    font-size: 11pt;
}
.row-head{
    font-weight: bold;
    color: black;
    text-align: right;
    border: none !important;
    padding: 4px !important;
}
.ep-info{
    color: white;
    text-align: left;
    border: none !important;
    padding: 4px !important;
}
#ep_description{
    text-align: center;
}
.btn-primary{
    background-color: #901c16;
    border-color: #761715;
}
.btn-primary:hover{
    background-color: #650E06;
    border-color: #761715;
}
#api_login {
    perspective: 1000;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
}
#api_login.flip .flipper {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.flipper {
    transition: .6s;
    -webkit-transition: .6s;
    -moz-transition: .6s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;

    position: relative;
}
.front,.back {
    height: 100%;
    width: 100%;
    display: block;
    backface-visibility: hidden;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
}
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}
.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
#response_panel{
    height: 80%;
}
#request_panel{
    height: 15%;
}
.panel{
    overflow-y: auto;
}
.header-icon{
    height: 30px;
    display: inline-block;
}
.header-icon>img{
    height: 100%;
}
.btn-row{
    margin-bottom: 5px;
}
.logo{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.notice{
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: 0px 3px 2px 0px #444444;
    -webkit-box-shadow: 0px 3px 2px 0px #444444;
    -moz-box-shadow: 0px 3px 2px 0px #444444;
    margin-bottom: 5px;
}

.notice-loading{
    background-color: #905854;
    color: #ffffff;
}
.notice-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.notice-info{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.notice-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.notice-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.notice-close{
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

button.notice-close{
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.notice-text{
    padding-left: 5px;
}
.panel{
    border-radius: 0px;
}